.nav-button {
  color: white;
  background-color: rgb(174, 174, 174);
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.text {
  text-align: justify;
  margin: 0px;
  display: none;
}

.nav-button:hover, .step-button:hover, .step-button:focus {
  outline: none;
  background-color: rgb(130, 130, 130);
}

.step-button {
  color: white;
  background-color: rgb(174, 174, 174);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

a { color: inherit; } 
